{% extends "base.html" %}

{% block content %}
<h1>Learn English Easily is a unique website that will help you learn English easily and effectively. <br>Here you will find everything you need to master the language, from tests and textbooks to tools for creating your own tests for teachers.<br>

The main goal of the site is to provide users with the opportunity to learn English at different levels of knowledge, from beginners to experienced students. <br>The site features a variety of tests that will help you assess your level and identify areas that need improvement.<br>

You also have access to an extensive library of textbooks that include all verb tenses and other important aspects of the English language. <br>This will allow you to deepen your knowledge and improve your skills in reading, writing, listening, and speaking.</h1>
{% endblock %}
