{% extends "base.html" %}

{% block content %}
<title>Present Continuous</title>
<div class="card border-dark mb-3" style="max-width: 79rem; bottom: -15px">
    <div class="card-header">Present Continuous</div>
    <div class="card-body">
        <h1 class="card-title">Зачем нужен Present Continuous</h1>
        <p class="card-text">Present Continuous, или настоящее длительное, используется для указывания на действия, которые происходят в настоящем в момент разговора. Ты сейчас читаешь эту статью, значит для описания этого действия надо будет использовать Present Continuous — I’m reading the article about Present Continuous. </p>
        <p class="card-text" style="font-weight: bold">Например: <b>Mary is baking a cake(Мэри печет торт)</b>;<br>
                  <b>I am eating breakfast(Я ем завтрак)</b>;<br>
                  <b>Students aren’t sitting in the classroom(Студенты не сидят в классе).</b></p>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Утвердительная форма</th>
                <th scope="col">Вопросительная форма</th>
                <th scope="col">Отрицательная форма</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>I am playing</td>
                <td>Am I playing?</td>
                <td>I am not playing</td>
            </tr>
            <tr>
                <td>He, She, It is playing</td>
                <td>Is He, She, It playing?</td>
                <td>He, She, It is not (isn't) playing</td>
            </tr>
            <tr>
                <td>We, You, They are playing</td>
                <td>Are We, You, They playing?</td>
                <td>We, You, They are not (aren't) playing</td>
            </tr>
            </tbody>
        </table>
        <br>
        <p class="card-text" style="font-weight: bold">На вопросы приходится отвечать. В английском нельзя ответить просто yes или no, в ответе нужно использовать вспомогательный глагол:</p>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Вопрос</th>
                <th scope="col">Положительный ответ</th>
                <th scope="col">Отрицательный ответ</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Are you smiling?</td>
                <td>Yes, I am.</td>
                <td>No, I am not.</td>
            </tr>
            <tr>
                <td>Am I smiling?</td>
                <td>Yes, you are.</td>
                <td>No, you aren’t.</td>
            </tr>
            <tr>
                <td>Are we smiling?</td>
                <td>Yes, we are.</td>
                <td>No, we aren’t.</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}