{% extends "base.html" %}

{% block content %}
<title>Present Simple</title>
<div class="card border-dark mb-3" style="max-width: 79rem; bottom: -15px">
    <div class="card-header">Present Simple</div>
    <div class="card-body">
        <h1 class="card-title">Зачем нужен Present Simple</h1>
        <p class="card-text">Что ты делаешь ежедневно? Завтракаешь, умываешься, спишь или делаешь уроки.
            А по понедельникам? Или раз в неделю? Или только в январе? Чтобы сказать обо всём этом на английском языке,
            нам нужен Present Simple — настоящее простое время. Это время помогает нам сказать о тех вещах, которые мы
            делаем с определённой регулярностью: иногда часто, например каждый день, а иногда совсем редко, например
            только раз в год.</p>
        <p class="card-text" style="font-weight: bold">Например: I sleep at night(Я сплю ночью);<br>
                  She don't ride a bicycle(Она не катается на велосипеде);<br>
                  The dog (it) sleeps under the bed(Собака спит под кроватью).</p>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Утвердительная форма</th>
                <th scope="col">Вопросительная форма</th>
                <th scope="col">Отрицательная форма</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>I PLAY</td>
                <td>DO I PLAY?</td>
                <td>I DON'T PLAY</td>
            </tr>
            <tr>
                <td>He, She, It PLAYS</td>
                <td>DOES He, She, It PLAY?</td>
                <td>He, She, It DOESN'T PLAY</td>
            </tr>
            <tr>
                <td> We, You, They PLAY</td>
                <td>DO We, You, They PLAY?</td>
                <td>We, You, They DON'T PLAY</td>
            </tr>
            </tbody>
        </table>
        <div class="dropdown-menu p-4 text-muted" style="max-width: 200px;">
            <p>Some example text that's free-flowing within the dropdown menu.</p>
            <p class="mb-0">And this is more example text.</p>
        </div>
    </div>
</div>

{% endblock %}